@using WarehouseIO.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="auth-page">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, htmlAttributes: new { @class = "auth-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="login-form-header">
            <h1>Login</h1>
            <h5>
                Don't have an account yet?
                @Html.ActionLink("Sign up", "Register", "Account")
            </h5>
        </div>

        <div class="auth-form-inputs">
            <div class="auth-form-input">
                @Html.LabelFor(m => m.Email, new { @class = "" })
                @Html.TextBoxFor(m => m.Email, new { @class = "" })
            </div>
            <div class="auth-form-input">
                @Html.LabelFor(m => m.Password, new { @class = "" })
                @Html.PasswordFor(m => m.Password, new { @class = "" })
            </div>
            <div class="auth-form-checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

        </div>
        <button class="btn-default">Login</button>
        @* <p class="auth-error-message">Error: Fill all the inputs</p> *@
        @Html.ValidationSummary("", new { @class = "auth-error-message" })
    }
    <div class="auth-image-container">
        <img src="~/Content/Images/login-img.jpg" alt="Girl on a computer">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}