<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.1/dist/sweetalert2.min.css" rel="stylesheet">


    @Styles.Render("~/Content/Style/link.css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>

    <!-- DataTables jQuery library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <!-- Bootbox.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>


</head>
<body>

<div id="app">
    <aside class="side-bar">
        <div class="app-controls side-bar-element">
            @Html.ActionLink("Warehouse.IO", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "logo" })
            <div class="app-control-options">
                @Html.ActionLink("\ud83d\udcc8 Dashboard", "Dashboard", "Home", routeValues: null, htmlAttributes: new { @class = " app-control-option hover-up", id = "dashboard-button" })

                @Html.ActionLink("\ud83d\udce6 Warehouses", "Index", "Warehouses", routeValues: null, htmlAttributes: new { @class = "app-control-option hover-up", id = "warehouses-button" })

                @Html.ActionLink("\ud83d\udcdc Transfers", "Index", "Transfers", routeValues: null, htmlAttributes: new { @class = "app-control-option hover-up", id = "transfers-button" })

                @Html.ActionLink("\ud83c\udf10 Shipments", "Index", "Shipments", routeValues: null, htmlAttributes: new { @class = "app-control-option hover-up", id = "shipments-button" })

                @Html.ActionLink("\ud83d\udc65 Operators", "Index", "Operators", routeValues: null, htmlAttributes: new { @class = "app-control-option hover-up", id = "operators-button" })

            </div>


        </div>
        <div class="profile-controls side-bar-element">

            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("\ud83d\udd11 Account", "Information", "Account", routeValues: null, htmlAttributes: new { @class = "app-control-option hover-up", id = "account-button" })

                @Html.ActionLink("\ud83d\udcdb Sign Out", "LogOff", "Account", routeValues: null, htmlAttributes: new { @class = "app-control-option hover-up", id = "not-select" })
            }
            else
            {
                @Html.ActionLink("\ud83d\udd11 Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "app-control-option hover-up", id = "login-button" })
                @Html.ActionLink("\ud83d\udd12 Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "app-control-option hover-up", id = "register-button" })
            }


        </div>
    </aside>
    <main class="main-window">
        @RenderBody()
    </main>

</div>

@* @Scripts.Render("~/bundles/jquery") *@
@Scripts.Render("~/bundles/bootstrap")


<script>

    const controllerToButtons = {
        "Warehouses": "warehouses-button",
        "Transfers": "transfers-button",
        "Shipments": "shipments-button",
        "Operators": "operators-button"
    }

    const actionsToButtons = {
        "Dashboard": "dashboard-button",
        "Login": "login-button",
        "Register": "register-button",
        "Information": "account-button"
    }

    document.addEventListener("DOMContentLoaded",
        () => {
            const currentUrl = window.location.href;
            const protocolAndUri = currentUrl.split("//");
            const uriParts = protocolAndUri[1].split("/");
            if (uriParts[1] === "") {

                return;
            }

            let controllerName = uriParts[1];
            let actionName = uriParts[2];

            for (const key in controllerToButtons) {
                console.log(key);

                if (controllerName.includes(key)) {

                    const buttonName = controllerToButtons[key];
                    const buttonElement = document.querySelector(`#${buttonName}`);
                    buttonElement.classList.add("app-control-option-selected");
                    return;
                }
            }

            for (const key in actionsToButtons) {

                if (actionName.includes(key)) {

                    const buttonName = actionsToButtons[key];
                    const buttonElement = document.querySelector(`#${buttonName}`);
                    buttonElement.classList.add("app-control-option-selected");
                    return;
                }
            }

        });


</script>

@RenderSection("scripts", required: false)
</body>
</html>