@using WarehouseIO.ControlClasses
@using WarehouseIO.CustomHtmlHelpers
@using WarehouseIO.Models
@model WarehouseIO.Models.Warehouse
@{
    ViewBag.Title = "Add Warehouse";
    string errorMessage = ErrorHandler.MissingInputsErrorMessage<Warehouse>(ViewData, Warehouse.GetPropertiesNames());
    string viewBagErrorMessage = (string) ViewBag.ErrorMessage;
    string tempDataErrorMessage = (string)TempData["ErrorMessage"];
}

@using (@Html.BeginForm("Add", "Warehouses", FormMethod.Post, htmlAttributes: new { @class = "type1-add-edit-view-page" }))
{
    <header>
        <h1>Add Warehouse</h1>
    </header>
    <div class="add-warehouse-wrapper">
        <div class="add-warehouse-container">
            <div class="add-warehouse-item">
                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "" })
            </div>
            <div class="add-warehouse-item">

                @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(m => m.Description, htmlAttributes: new { @class = "" })
            </div>
            <div class="add-warehouse-item">

                @Html.LabelFor(m => m.Location, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(m => m.Location, htmlAttributes: new { @class = "" })
            </div>
            <div class="add-warehouse-item">

                @Html.LabelFor(m => m.MaxCapacity, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(m => m.MaxCapacity, htmlAttributes: new { @class = "", type = "number"})
            </div>

        </div>
    </div>
    <footer>
        @Html.ErrorMessageSummary(errorMessage, viewBagErrorMessage, tempDataErrorMessage)
    </footer>
    <div class="page-main-buttons">
        <button class="btn-default page-main-button">Add</button>
        @Html.ActionLink("Manage Warehouse", "Index", "Warehouses", routeValues: null, htmlAttributes: new { @class = "btn-default page-main-button" })

        @Html.ActionLink("To Dashboard", "Dashboard", "Home", routeValues: null, htmlAttributes: new { @class = "btn-default page-main-button shade2-background" })

    </div>
}
